extends layout

block content

  header
    script(src='/javascripts/precium.js')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')


  body
    h1= title
    p Welcome to #{title}
    br

    label#tv_notice notice.

    br
    br
    br
    p Example addrs
    br
    br
    label admin :
    label 0x71f108f15b72f3a6f0a5c32cfc330e165a4ed50e
    br
    label privk :
    label 830c77dbd384120b4cc9f368d82622bdc8ac0b2ee497badb65cb71b00fa84b52
    br
    label passwd :
    label testadd!1
    br
    br
    labael ropsten test addr : 
    label 0xd056A22884bC1708a2c9FD972509B769c0BeeBea
    br
    label privateKey :
    label 0x380627bb29cea337445be2fe5d37471be5ebc451d5cb6d0fcc30b60bab95b416
    br
    
    br
    br
    br
    label 1. addr :
    label 0xe399d4d877bbedaa5f1a9e2f4fe8106c45972976
    br
    label passwd :
    label DEFAULT_PASSWD
    br
    label 2. addr :
    label 0xcB89fD5A04DE73e3361996f0F0eC21b9165B1641
    br
    label passwd :
    label DEFAULT_PASSWD


    br
    br
    br
    br
    button(
    type='button'
    onclick='test2()'

    ) test

    br
    button(
    type='button'
    onclick='connectNode()'
    ) Connect to node

    br
    br
    label [create Account]
    br
    label passwd :
    input#input_passwd(
    type='text'
    width='40px'
    )
    button(
    type='button'
    onclick='generateWallet()'
    ) Create Wallet

    br
    br
    label [Confirm balance]
    br
    label addr :
    input#tv_addr(type='text')
    button(
    type='button'
    onclick="check_balance()"
    ) check
    button(
    type='button'
    onclick="check_balance_ropsten()"
    ) check(ropsten)
    br
    label#ll_balance please type erc20 addr before click "check button".
    br
    br
    label [Transaction]
    br
    label from
    input#tv_from_addr(
    type='text'
    value ='0x71f108f15b72f3a6f0a5c32cfc330e165a4ed50e'

    )
    label privatekey
    input#tv_from_privk(
    type='password'
    value  ='830c77dbd384120b4cc9f368d82622bdc8ac0b2ee497badb65cb71b00fa84b52')
    br
    label to
    input#tv_to_addr(
    type='text'
    value ='0xd056A22884bC1708a2c9FD972509B769c0BeeBea'
    )
    br
    label amount
    input#tv_amount(
    type='text'
    value ='5000'
    )
    label gas(gwei) 
    input#tv_gasprice(
    type='text'
    value ='11'
    )
    br

    button(
    onclick='transaction()'
    ) Transaction

    button(
    onclick='transaction_ropsten()'
    ) Transaction(ropsten)

    br
    br
    br
    br
    textarea#ta_history(
    cols='100'
    rows='30'
    readonly=true
    ) .
